<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
            <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>

          {% endif %}
        </section>
      </div>
    </header>

    <div class="container">
      <section class="id_card">
        <div class="photo"></div>
        <div class="ids">
          <h1 class="name">Ihsan Yalcinkaya</h1>
          <h2 class="title"> Freelance Software Engineer</h2>
          <h2 class="title"> 📍 in Eindhoven region 🇳🇱 </h2>
          <div class="id_card"> 
            <div>
              <a href="https://www.linkedin.com/in/ihsanyalcinkaya/" class="social">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
            <div>
              <a href="mailto:yalcinkaya.ihsan@gmail.com" class="social" target="_blank">
                <i class="fab fa-google"></i>
              </a>
            </div>
            <div>
              <a href="https://twitter.com/Riveli_io" class="social" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div>
              <a href="https://www.instagram.com/riveli_io/" class="social" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
        </div>
      </section>
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>